@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Mynerve&display=swap');

:root {
  --cor-principal: #29A587;
  --cor-secundaria: #F2EEE7;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333030;
  list-style: none;
  text-align: justify;
  text-align-last: center;
}

body {
  background-color: var(--cor-secundaria);
  overflow-x: hidden;
}

header {
  font-weight: bold;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: var(--cor-principal);
  font-family: 'Mynerve', cursive;
  font-size: 3rem;
  margin: 0;
}

.nav-itens {
  color: var(--cor-principal);
  z-index: 1;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5rem 0 5rem 0;
  flex-wrap: wrap;
}

#apresentacao {
  display: flex;
  flex-direction: column;
  width: 50%;
  z-index: 1;
}

#bem-vindo {
  font-size: 1rem;
  width: 75%;
  margin: 2rem auto;
  font-weight: lighter;
}

#pinguim {
  display: flex;
  height: 350px;
  padding: auto;
  margin: 0;
  box-shadow: 0px 4px 129px 117px rgba(255, 255, 255, 1);
  border-radius: 100%;
  z-index: -1;
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
}

ul li {
  margin-right: 20px;
}

h2,
.pix {
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-family: 'Mynerve', cursive;
  font-weight: bold;
  font-size: 2rem;
  color: var(--cor-principal);
}

p {
  font-size: 1.25rem;
  width: 80%;
  margin: 2rem auto;
}

#sobre p {
  margin: 0 auto;
}

.efeito {
  box-shadow: 0px 0px 300px 50px #5aac7e;
  width: 0px;
  color: transparent;
  position: absolute;
  z-index: -6;
}

.efeito:nth-of-type(2) {
  top: -10px;
  right: 0;
}

section {
  margin-bottom: 3rem;
}

#horarios {
  margin-top: 10rem;
}

#horarios>h3 {
  margin: 3rem;
}

#semana {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem auto;
  width: 90%;
  flex-wrap: wrap;
}

#semana li {
  display: flex;
  margin: 1.8rem;
  padding: 2rem;
  position: relative;
  background-color: #ade3e3a0;
  width: 190px;
  height: 200px;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 2;
}

#semana>li>span {
  position: absolute;
  background-color: #81c19edd;
  border-radius: 0 5px 5px 0;
  padding: 1rem;
  border-left: solid #000;
  top: -35px;
  left: -10px;
  font-weight: bold;
  margin: 0 auto;
  font-size: 1rem;
}

#conteiner-pix {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 2rem;
  width: 70%;
  margin: auto;
}

.card-text {
  width: 45%;
  line-height: 2;
}

.card-pix {
  font-weight: bold;
  padding: 25px;
  margin: auto;
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
  background-image: url(../images/logo-pix.png);
  background-size: cover;
  background-position: center center;
}

.card-pix .btn{
  margin-top: 7rem;
}

section {
  position: relative;
}

h4 {
  color: var(--cor-principal);
  font-family: 'Mynerve', cursive;
  z-index: -5;
  font-size: 10rem;
  opacity: 0.1;
  position: absolute;
  justify-content: center;
  text-align: center;
  bottom: 0;
  top: auto;
  right: 15rem;
  left: 15rem;
  text-align-last: center;
  display: flex;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(27, 27, 27);
  padding: 10px 30px;
  border: 1px solid;
  border-radius: 1000px;
  display: inline-block;
  transition: all .2s;
  position: relative;
  backdrop-filter: blur(15px);
  font-family: 'Mynerve', cursive;
  font-weight: bold;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn:active {
  transform: translateY(-3px);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all .3s;
}

.btn:hover::after {
  background-color: rgb(0, 238, 255);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}


footer {
  background-color: #99B1AD;
  padding: 20px;
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  text-align: center;
}

footer p {
  width: 45%;
  margin-left: 2rem;
  margin-right: 2rem;
}

footer ul, h3{
  padding-top: 2rem;
}

footer i {
  font-size: 1.8rem;
}

footer h3 span {
  color: var(--cor-secundaria);
}